{% extends 'base.html' %}
{% load disqus_tags %}

{% block content %}

{% disqus_dev %}

<h2>Tag: {{ tag_name }}</h2>

{% for object in tagged_items.object_list %}
<div class="post">
	<h2 class="title"><a href="{{object.get_absolute_url}}">{{ object.title}}</a></h2>
	<p class="date">{{ object.pub_date }}</p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		{{ object.body|truncatewords_html:"150"|safe }}
	</div>
	<div class="meta">
		<p class="tags">
			Tags: 
			{% for tag in object.get_tags %}
				<a href="/tags/{{ tag }}">{{ tag }}</a>&nbsp;
			{% endfor %}
		</p>
		<p class="links"><a href="{{object.get_absolute_url}}#disqus_thread" class="comments">{% disqus_num_replies %}</a>&nbsp;<a href="{{object.get_absolute_url}}" class="more">More</a></p>
	</div>
</div>
{% endfor %}

<br/>
<div class="pagination">
	<span class="page-nav">
		{% if tagged_items.has_previous %}
			<span class="previous"><a href="?page={{ tagged_items.previous_page_number }}">Newer Posts</a></span>
		{% endif %}
		
		<span class="current">
			Page {{ tagged_items.number }} of {{ tagged_items.paginator.num_pages }}.
		</span>
		
		{% if tagged_items.has_next %}
			<span class="next"><a href="?page={{ tagged_items.next_page_number }}">Older Posts</a></span>
		{% endif %}
	</span>
</div>

{% endblock %}
